################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.cache
*.pdb
*.dll
*.cs
*.exe
/HiddenVillaEx_Server/obj/Debug/net5.0/staticwebassets/HiddenVillaEx_Server.StaticWebAssets.xml
/HiddenVillaEx_Server/obj/Debug/net5.0/scopedcss/Shared/NavMenu.razor.rz.scp.css
/HiddenVillaEx_Server/obj/Debug/net5.0/scopedcss/Shared/MainLayout.razor.rz.scp.css
/HiddenVillaEx_Server/obj/Debug/net5.0/scopedcss/projectbundle/HiddenVillaEx_Server.bundle.scp.css
/HiddenVillaEx_Server/obj/Debug/net5.0/scopedcss/bundle/HiddenVillaEx_Server.styles.css
/HiddenVillaEx_Server/obj/Debug/net5.0/HiddenVillaEx_Server.GeneratedMSBuildEditorConfig.editorconfig
/HiddenVillaEx_Server/obj/project.assets.json
/HiddenVillaEx_Server/obj/HiddenVillaEx_Server.csproj.nuget.g.targets
/HiddenVillaEx_Server/obj/HiddenVillaEx_Server.csproj.nuget.g.props
/HiddenVillaEx_Server/obj/HiddenVillaEx_Server.csproj.nuget.dgspec.json
/HiddenVillaEx_Server/bin/Debug/net5.0/HiddenVillaEx_Server.StaticWebAssets.xml
/HiddenVillaEx_Server/bin/Debug/net5.0/HiddenVillaEx_Server.runtimeconfig.json
/HiddenVillaEx_Server/bin/Debug/net5.0/HiddenVillaEx_Server.runtimeconfig.dev.json
/HiddenVillaEx_Server/bin/Debug/net5.0/HiddenVillaEx_Server.deps.json
/HiddenVillaEx_Server/bin/Debug/net5.0/appsettings.json
/HiddenVillaEx_Server/bin/Debug/net5.0/appsettings.Development.json
/HiddenVillaEx_Server/obj/Debug/net5.0/HiddenVillaEx_Server.csproj.FileListAbsolute.txt
/HiddenVillaEx_Server/obj/Debug/net5.0/HiddenVillaEx_Server.csproj.CopyComplete
/.vs/HiddenVillaEx/v16/.suo
/.vs/HiddenVillaEx/DesignTimeBuild/.dtbcache.v2
/.vs/HiddenVillaEx/config/applicationhost.config
