@page "/ParentComponent"

<h1 class="text-danger">Parent Child Component</h1>
<ChildComponent OnClickBtnMethod="ShowMessage" Title="This title is passed as a parameter from Parent Component">
	<ChildContent>
		Render Fragment from Parent! Whoooooo Hoooo!
	</ChildContent>
	<DangerChildContent>
		You're in ddeep shit!!! Render Fragment from Parent! Whoooooo Hoooo!
	</DangerChildContent>
</ChildComponent>
<AnotherChildComponent InputAttributes="InputAttributes"></AnotherChildComponent>

<p class="p-2 mt-2"><b>@messageText</b></p>

@code {
	private string messageText = "";

	private Dictionary<string, object> InputAttributes { get; set; } = new Dictionary<string, object>()
{
		{"required", "required" },
		{"placeholder", "Initial Text from Parent" },
		{"maxLength", "5" }
	};

	private void ShowMessage(MouseEventArgs e)
	{
		messageText = "Blazing Text from parent";
	}

}